*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  margin-top: 40vh;
  padding: .5em 1.5em;
}

main {
  
}

main .radios-menu div {
  margin: 1em;
}

section {
  margin-top: 1em;
}

section ul {
  text-decoration: none;
  list-style: none;
  width: 75%;
  padding: .5em 1em;

  border: 1px solid black;
}

ul li {
  display: inline-block;
  margin: .5em 1em;
  border: 1px solid red;
}

ul p {
  float: right;
}

ul img {
  width: 5vh;
  height: 5vh;
  float: right;
  position: relative;
  top: -2em;
}

.width-half {
  width: 43%;
}

.width-full {
  width: 90%;
}