body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 30px;
}

.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#listaPlanos {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 20px;
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait){
  .container {
        width: 90vw;
  }
  
  #listaPlanos {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.plano {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
      'name image'
      'descriction image';
  text-align: left;
}

.plano > a {
  text-decoration: none;
  color: black;
}

.plano > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.plano > p {
  grid-area: descriction;
  margin: 0;
  margin-top: -18px;
}

.plano img {
  position: relative;
  top: -3em;
  right: -6em;
  float: right;
  max-height: 10vh;
  max-width: 10vh;
  grid-area: image;
}
